<?xml version="1.0"?>
<robot name="hugr_prime">

  <link name="base_link">

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="22.18"/>
      <inertia
        ixx="0.53"
        ixy="0.01"
        ixz="-0.09"
        iyy="0.78"
        iyz="0.00"
        izz="0.88"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://trimaran_description/meshes/trimaran_mesh.STL"
              scale="1 1 1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://trimaran_description/meshes/trimaran_mesh.STL"
              scale="1 1 1"/>
      </geometry>
    </collision>

  </link>

  <!-- ================= XSENS ================= -->
  <link name="imu_link"/>

  <joint name="xsens_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.12 0 -0.03" rpy="0 0 0"/>
  </joint>

    <!-- ================= FRONT CAMERA ================= -->
  <link name="camera_bow_link"/>

  <joint name="camera_bow_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_bow_link"/>
    <origin xyz="0.115 0 0.19" rpy="0 0 0"/>
  </joint>

  <!-- ================= REAR CAMERA ================= -->
  <link name="camera_stern_link"/>

  <joint name="camera_stern_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_stern_link"/>
    <origin xyz="-0.35 0 0.19" rpy="0 0 3.14159"/>
  </joint>

<!-- ================= SURGE PORT ================= -->
<link name="thruster_port_surge_link"/>

<joint name="thruster_port_surge_joint" type="fixed">
  <parent link="base_link"/>
  <child link="thruster_port_surge_link"/>
  <origin xyz="-0.18 0.15 -0.11" rpy="0 0 0"/>
</joint>

<!-- ================= SURGE STARBOARD ================= -->
<link name="thruster_starboard_surge_link"/>

<joint name="thruster_starboard_surge_joint" type="fixed">
  <parent link="base_link"/>
  <child link="thruster_starboard_surge_link"/>
  <origin xyz="-0.18 -0.15 -0.11" rpy="0 0 0"/>
</joint>

<!-- ================= SWAY FRONT ================= -->
<link name="thruster_bow_sway_link"/>

<joint name="thruster_bow_sway_joint" type="fixed">
  <parent link="base_link"/>
  <child link="thruster_bow_sway_link"/>
  <origin xyz="0.345 0.00 -0.07" rpy="0 0 1.5708"/>
</joint>

<!-- ================= SWAY REAR ================= -->
<link name="thruster_stern_sway_link"/>

<joint name="thruster_stern_sway_joint" type="fixed">
  <parent link="base_link"/>
  <child link="thruster_stern_sway_link"/>
  <origin xyz="-0.35 0.00 -0.07" rpy="0 0 -1.5708"/>
</joint>

</robot>